body{

  background-image: url(Gif3.1.gif);
  background-size: auto 100vh;
}
.character{
  width: 150px;
  height: 150px;
  position:absolute;
  bottom: 20%;
  left: 10%;
  background-image: url('pollo3.png');
  background-size: cover;
}

.jump{
  animation: jump 1000ms forwards;
}


@keyframes  jump {
    50%{
      bottom: 60%;
    }
    100%{
      bottom: 20%;
      transform: rotate(360deg);
    }
}